
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: yellow;
  padding: 2px;
  width: 300px;
}
.grid-item {
  background-color: rgba(190, 231, 241, 0.8);
  border: 1px solid rgba(126, 5, 5, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: center;

}
